@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sub-text: #98A2B3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-helvetica);
}

body {
  background: var(--background);
  color: var(--foreground);
}
